body{
  
  color: rgb(200, 213, 179);
}.links {
  
  
}
h3{
  font-style: oblique;
  color: aqua;
}

a {
  text-decoration: none;
  color: rgb(220, 201, 223);
}
a:hover{
  color: rgb(98, 15, 143);
}
.container{ 
  transition: 0.3s ease-out 0s !important;
  box-shadow:  rgba(19, 44, 22, 0.171) !important;
  backdrop-filter: blur(5px) !important;
  border-radius: 14%;
  background-color: transparent;
  
}


.iconbut{
  color: rgb(187, 154, 207)
}
.icon{

}
.text{
  color: rgb(177, 146, 218);
  font-size: smaller;
}
.footer{
  
  color: white;
  
}
.type{
  color :red;
  background-color: aqua;

}

.content {
    height: 100%;
    width: 100%;
    font-family: "Source Sans Pro", sans-serif;
  }
.app {
    display: flex;
    position: relative;
  }
  .sidebar{
    
    /* border-radius : 80%;
    opacity : 0.6; */
    /* background-color: blue; */
  }
  .sub{
    background-image: radial-gradient(rgb(27, 27, 30),rgb(42, 42, 68, 0.952));
    margin-left : 0px;
  }


  /* contact page style */


  .contactpage{
    width: 770px;
    height: 350px;
    margin-left: 50px;

    /* t(rgb(38, 38, 41),rgba(51, 51, 86, 0.952)); */

    background-image: linear-gradient(rgb(27, 27, 30), rgba(42, 42, 68, 0.952));
    border-radius: 50px;
    padding: 10px;
    margin-top: 30px;
    text-shadow: 3.3em;
    box-shadow: 50em;
    opacity: 0.9;
    padding: 80px;
    
  }
  .contact-text{
    margin-left: 50px;
    margin-top: 20px;
    color: aqua;
    font-size: 2.1em;
    opacity: 20.9;
    size: 700px;
  }
  .contactnotes{
   margin-left: 60px;
   margin-right: 60px;
   background-image: none;
   color: beige;
   font-style: italic;
   font-family: monospace;
  }
 .row{
  color: white;
 } 



 /* skills */

 .skillspage{
  width: 770px;
  height: 350px;
  margin-left: 50px;

  /* t(rgb(38, 38, 41),rgba(51, 51, 86, 0.952)); */

  background-image: linear-gradient(rgb(27, 27, 30), rgba(42, 42, 68, 0.952));
  border-radius: 50px;
  padding: 10px;
  margin-top: 30px;
  text-shadow: 3.3em;
  box-shadow: 50em;
  opacity: 0.9;
  padding: 80px;
 }
 .skill-text{
  margin-left: 50px;
  margin-top: 20px;
  color:aqua;
  font-size: 2.1em;
  opacity: 20.9;
  size: 700px;
}
 

/* About styles */

.aboutpage{
  width: 770px;
  height: 350px;
  margin-left: 50px;

  /* t(rgb(38, 38, 41),rgba(51, 51, 86, 0.952)); */

  background-image: linear-gradient(rgb(27, 27, 30), rgba(42, 42, 68, 0.952));
  border-radius: 50px;
  padding: 10px;
  margin-top: 30px;
  text-shadow: 3.3em;
  box-shadow: 50em;
  opacity: 0.9;
  padding: 80px;
 }
 .aboutnotes{
  font-family: Arial, Helvetica, sans-serif;
 }
 /* resumepage */
 .resumepage{
  width: 770px;
  height: 350px;
  margin-left: 50px;

  /* t(rgb(38, 38, 41),rgba(51, 51, 86, 0.952)); */

  background-image: linear-gradient(rgb(27, 27, 30), rgba(42, 42, 68, 0.952));
  border-radius: 50px;
  padding: 10px;
  margin-top: 30px;
  text-shadow: 3.3em;
  box-shadow: 50em;
  opacity: 0.9;
  padding: 80px;
  
}
@media screen and (max-width : 1200px) {
  
  .link{
    display: none;
  }
  .sidebar{
    height: 1900px !important;
  }
  .homebox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 60%;
  }
  img{
    margin-right: 100px !important;
  }
  h3{
    font-size: 30px;
    margin-left: 20px;
  }
  .contactpage{
    width: 400px;
  height: 900px;

  }
  .resumepage{
    width: 400px;
    height: 900px;
  }
  .aboutpage{
    width: 400px;
    height: 900px;
  }
  .skillspage{
    width: 400px;
    height: 900px;
    font-size: 25px;
  }
  
  p{
    font-size: 32px;
  }






}


 
 
 
 






  


