body{
  
  color: rgb(200, 213, 179);
}.links {
  display: flex;
  justify-content: space-between;
  margin: 40px;
  margin-left: 500px;
  margin-right: 100px;
  margin-top: 0px;
  
  
}

a {
  text-decoration: none;
  color: white;
}
a:hover{
  color: rgb(37, 46, 179);
}
.container{ 
  transition: 0.3s ease-out 0s !important;
  box-shadow:  rgba(19, 44, 22, 0.171) !important;
  backdrop-filter: blur(5px) !important;
  border-radius: 14%;
  background-color: transparent;
  
}
.icons:hover{
  color: rgb(116, 116, 219)


}

.iconbut{
  color: white
}
.icon{

}
.text{
  color: rgb(241, 241, 241);
}
.footer{
  
  color: white;
  
}
