body{
  
  color: rgb(200, 213, 179);
}.links {
  
  
}

a {
  text-decoration: none;
  color: rgb(220, 201, 223);
}
a:hover{
  color: rgb(203, 170, 218);
}
.container{ 
  transition: 0.3s ease-out 0s !important;
  box-shadow:  rgba(19, 44, 22, 0.171) !important;
  backdrop-filter: blur(5px) !important;
  border-radius: 14%;
  background-color: transparent;
  
}


.iconbut{
  color: rgb(187, 154, 207)
}
.icon{

}
.text{
  color: rgb(177, 146, 218);
  font-size: smaller;
}
.footer{
  
  color: white;
  
}
.type{
  color :red;
  background-color: aqua;

}

.content {
    height: 100%;
    width: 100%;
    font-family: "Source Sans Pro", sans-serif;
  }
.app {
    display: flex;
    position: relative;
  }


